## Project Introduction

The goal of this project is to predict which NFL team will win a match based on their recent historical performance. This is a classification problem, where we aim to forecast the outcome (win or loss) of a game using team data and performance metrics.

Predicting NFL game outcomes benefits:
- **Coaches** by refining strategies,
- **Analysts** by providing insights,
- **Betting companies** by setting better odds, and
- **Fans** by boosting engagement.

By analyzing historical performance data, we can uncover patterns that inform decision-making for team preparation, betting strategies, and fan interactions. This improves outcomes for all stakeholders involved, from optimizing team tactics to generating content for fans.

In [22]:
import pandas as pd

In [23]:
# Display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [24]:
# Read in base data from csv
df = pd.read_csv('nfl.csv')
df.head(5)

,Rk,Team,Date,Season,Pts,PtsO,Rate,TO,Y/P,DY/P,ToP,Rate.1,Att,Att.1,Day,G#,Week,Away,Opp,Result,Pts.1,PtsO.1,PtDif,PC,Cmp,Att.2,Inc,Cmp%,Yds,TD,Int,TD%,Int%,Rate.2,Sk,Yds.1,Sk%,Y/A,NY/A,AY/A,ANY/A,Y/C,Rush_Att,Rush_Yds,Rush_Y/A,TD.1,Tot,Ply,Y/P.1,DPly,DY/P.1,TO.1,ToP.1,Time,Cmp.1,Att.3,Cmp%.1,Yds.2,TD.2,Sk.1,Yds.3,Int.1,Rate.3,Opp_Rush_Att,Opp_Rush_Yds,Y/A.1,TD.3,Rush,Pass,Tot.1,TO.2
0,1,DET,2024-12-05,2024,34,31,109.7,0,5.14,6.62,36:06,110.2,34,24,Thu,13,14,NaN,GNB,W 34-31,34,31,3,65,32,41,9,78.0,280,3,1,7.3,2.4,109.7,1,3,2.38,6.8,6.67,7.20,7.02,8.8,34,111,3.3,1,391,76,5.14,45,6.62,1,36:06,3:12,12,20,60.0,199,1,1,7,0,110.2,24,99,4.1,3,12,81,93,0
1,2,GNB,2024-12-05,2024,31,34,111.7,0,6.62,5.14,23:54,109.3,24,34,Thu,13,14,@,DET,L 31-34,31,34,-3,65,12,20,8,60.0,199,1,0,5.0,0.0,111.7,1,7,4.76,10.0,9.48,10.95,10.43,16.6,24,99,4.1,3,298,45,6.62,76,5.14,1,23:54,3:12,32,41,78.0,280,3,1,3,1,109.3,34,111,3.3,1,-12,-81,-93,0
2,3,DEN,2024-12-02,2024,41,32,65.7,1,6.56,6.57,27:50,86.5,26,23,Mon,13,13,NaN,CLE,W 41-32,41,32,9,73,18,35,17,51.4,294,1,2,2.9,5.7,65.7,0,0,0.00,8.4,8.40,6.40,6.40,16.3,26,106,4.1,2,400,61,6.56,84,6.57,2,27:50,3:29,34,58,58.6,475,4,3,22,3,86.5,23,77,3.3,0,29,-181,-152,1
3,4,CLE,2024-12-02,2024,32,41,88.1,-1,6.57,6.56,32:10,65.7,23,26,Mon,12,13,@,DEN,L 32-41,32,41,-9,73,34,58,24,58.6,475,4,3,6.9,5.2,88.1,3,22,4.92,8.2,7.79,7.24,6.89,14.0,23,77,3.3,0,552,84,6.57,61,6.56,3,32:10,3:29,18,35,51.4,294,1,0,0,2,65.7,26,106,4.1,2,-29,181,152,-1
4,5,JAX,2024-12-01,2024,20,23,83.0,-1,5.57,5.34,27:43,92.5,25,25,Sun,12,13,NaN,HOU,L 20-23,20,23,-3,43,24,42,18,57.1,276,2,1,4.8,2.4,83.0,0,0,0.00,6.6,6.57,6.45,6.45,11.5,25,97,3.9,0,373,67,5.57,61,5.34,1,27:43,3:18,22,34,64.7,218,1,2,24,0,92.5,25,108,4.3,1,-11,58,47,-1

### Data Cleaning
Here is the general overview of the steps we took during data cleaning.

- **Handle missing values**: Fill in or remove missing data to maintain dataset integrity.
- **Standardize formats & data types & units**: Ensure consistency in date formats, data types, and measurement units.
- **Remove duplicates**: Eliminate repeated rows to prevent skewed analysis.
- **Remove unnecessary columns**: Drop irrelevant columns to simplify the dataset.
- **Handle categorical data**: Convert categorical variables into a suitable format for analysis.
- **Filter outliers**: Identify and manage extreme values that may distort analysis.

#### Handle Missing Values
In this step, we count the number of null values in each column.
We can see that the data is quite complete, with no null values except in the away column.
Upon further inspection of the away column, it can be seen that the NaN value is used to denote that the current team is at home and the @ value is used to denote that the current team is away.
Therefore, we do not need to handle any missing values.

In [25]:
# Check for null values
null_counts = df.isnull().sum()

if (null_counts > 0).any():
    print(null_counts[null_counts > 0])

Away    739
dtype: int64

#### Standardize Formats, Data Types, & Units

Before we complete the other steps in data cleaning, we should perform data standardization to make comparisons easier. This includes:
- Check that each column has a consistent type.
  - Our check found that each column had a consitent type except 'Away', which we handle in the next step.
- Standardizing non-numeric data.
  - Here we print out any columns without the 'int64' or 'float64' type.
  - Then we go through each column and turn those into a standardized type.
  - As a final check, we print the data type of each column and double check by inspecing the data.
- Confirming consistent units.
  - Since the source of the data provides units, they are expected to be consistent.
  - However, this is further checked by a visual inspection of the data and any outliers/anomolies which may be detected.

In [26]:
# Check that each column has a consistent type
for column in df.columns:
  if df[column].map(type).nunique() > 1:
    print(f"Column '{column}' contains mixed types.")

Column 'Away' contains mixed types.

In [27]:
# Standardizing non-numeric data
non_numeric_columns = df.select_dtypes(exclude=['int64', 'float64'])
print(non_numeric_columns.dtypes)

Team      object
Date      object
ToP       object
Day       object
Away      object
Opp       object
Result    object
ToP.1     object
Time      object
dtype: object

In [28]:
# Standardizing non-numeric data
df['Date'] = pd.to_datetime(df['Date'])

def convert_to_seconds(time_str):
    minutes, seconds = map(int, time_str.split(':'))
    return minutes * 60 + seconds
df['ToP'] = df['ToP'].apply(convert_to_seconds)
df['ToP.1'] = df['ToP.1'].apply(convert_to_seconds)

df['Away'] = df['Away'].isna()

def convert_to_minutes(time_str):
    return int(time_str.split(':')[0])
df['Time'] = df['Time'].apply(convert_to_minutes)

In [29]:
# Standardizing non-numeric data
non_numeric_columns = df.select_dtypes(exclude=['int64', 'float64'])
print(non_numeric_columns.dtypes)

Team              object
Date      datetime64[ns]
Day               object
Away                bool
Opp               object
Result            object
dtype: object

In [30]:
# Standardizing non-numeric data
df.head(5)

,Rk,Team,Date,Season,Pts,PtsO,Rate,TO,Y/P,DY/P,ToP,Rate.1,Att,Att.1,Day,G#,Week,Away,Opp,Result,Pts.1,PtsO.1,PtDif,PC,Cmp,Att.2,Inc,Cmp%,Yds,TD,Int,TD%,Int%,Rate.2,Sk,Yds.1,Sk%,Y/A,NY/A,AY/A,ANY/A,Y/C,Rush_Att,Rush_Yds,Rush_Y/A,TD.1,Tot,Ply,Y/P.1,DPly,DY/P.1,TO.1,ToP.1,Time,Cmp.1,Att.3,Cmp%.1,Yds.2,TD.2,Sk.1,Yds.3,Int.1,Rate.3,Opp_Rush_Att,Opp_Rush_Yds,Y/A.1,TD.3,Rush,Pass,Tot.1,TO.2
0,1,DET,2024-12-05,2024,34,31,109.7,0,5.14,6.62,2166,110.2,34,24,Thu,13,14,True,GNB,W 34-31,34,31,3,65,32,41,9,78.0,280,3,1,7.3,2.4,109.7,1,3,2.38,6.8,6.67,7.20,7.02,8.8,34,111,3.3,1,391,76,5.14,45,6.62,1,2166,3,12,20,60.0,199,1,1,7,0,110.2,24,99,4.1,3,12,81,93,0
1,2,GNB,2024-12-05,2024,31,34,111.7,0,6.62,5.14,1434,109.3,24,34,Thu,13,14,False,DET,L 31-34,31,34,-3,65,12,20,8,60.0,199,1,0,5.0,0.0,111.7,1,7,4.76,10.0,9.48,10.95,10.43,16.6,24,99,4.1,3,298,45,6.62,76,5.14,1,1434,3,32,41,78.0,280,3,1,3,1,109.3,34,111,3.3,1,-12,-81,-93,0
2,3,DEN,2024-12-02,2024,41,32,65.7,1,6.56,6.57,1670,86.5,26,23,Mon,13,13,True,CLE,W 41-32,41,32,9,73,18,35,17,51.4,294,1,2,2.9,5.7,65.7,0,0,0.00,8.4,8.40,6.40,6.40,16.3,26,106,4.1,2,400,61,6.56,84,6.57,2,1670,3,34,58,58.6,475,4,3,22,3,86.5,23,77,3.3,0,29,-181,-152,1
3,4,CLE,2024-12-02,2024,32,41,88.1,-1,6.57,6.56,1930,65.7,23,26,Mon,12,13,False,DEN,L 32-41,32,41,-9,73,34,58,24,58.6,475,4,3,6.9,5.2,88.1,3,22,4.92,8.2,7.79,7.24,6.89,14.0,23,77,3.3,0,552,84,6.57,61,6.56,3,1930,3,18,35,51.4,294,1,0,0,2,65.7,26,106,4.1,2,-29,181,152,-1
4,5,JAX,2024-12-01,2024,20,23,83.0,-1,5.57,5.34,1663,92.5,25,25,Sun,12,13,True,HOU,L 20-23,20,23,-3,43,24,42,18,57.1,276,2,1,4.8,2.4,83.0,0,0,0.00,6.6,6.57,6.45,6.45,11.5,25,97,3.9,0,373,67,5.57,61,5.34,1,1663,3,22,34,64.7,218,1,2,24,0,92.5,25,108,4.3,1,-11,58,47,-1

#### Remove Unnecessary Columns

To simplify our dataset, we should look to see if there are any unncessary columns. This can include:
- Columns containing irrelavent information
  - Upon inspection of the data, we can see that the 'Rk' column served as an index column. 
  - Therefore, the 'Rk' column can be considered to contain irrelavent information to out model and thus removed.
- Columns with constant data
  - When we checked for this, the 'Away' column is shown.
  - Since this is a boolean column, we do not remove this column.
- Columns with excessive missing data
  - Since we have handled and discovered no missing values, we do not need to account for this case
- Columns with identical data
  -

In [58]:
df.drop('Rk', axis=1, inplace=True)
df.head(5)

In [59]:
constant_columns = df.columns[df.nunique() == 1]
print('Columns with constant data:', constant_columns)

In [71]:
# We could use this approach as well, but it does not return which column each is a duplicate of
  # duplicate_columns = df.columns[df.T.duplicated()]
  # print("Columns with identical data:", duplicate_columns)

duplicate_columns = {}

for col1 in df.columns:
    for col2 in df.columns:
        if col1 != col2 and df[col1].equals(df[col2]):
            if col1 not in duplicate_columns:
                duplicate_columns[col1] = col2

for col, duplicate in duplicate_columns.items():
    print(f"Column '{col}' is a duplicate of column '{duplicate}'")
    
df.head(10).T.sort_index(axis=0)

#### Remove Duplicates
Inspecting the dataset shows that there are repeated entries for each game.
More specifically, each game has two entries with:
- 'Team': A and 'Opp': B
- 'Team': B and 'Opp': A

This can be seen in the previous head() in rows 0 and 1.
Upon further general inspection of the csv file, this is determined to be a 
general case.

To remove duplicates, we can use the knowledge that each team does not play more
than one match in any given day. Therefore, for each day, we can see which 
matches are duplicates by comparing the set of the team names. If the sets are
equivalent, the two matches are considered to be duplicates.

Once approach would be to simply remove any one of the two matches. However,
this could potentially lead to a class imbalance of Win/Loss since the matches
are not ordered